@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Clash Display";
  src: url("/public/ClashDisplay-Semibold.otf");
  font-weight: 600;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-clash-display: "Clash Display";

  /* font sizes */
  --font-size-base-3: 16.3px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-smi-5: 12.5px;
  --font-size-xs-8: 11.8px;
  --font-size-base-7: 15.7px;
  --font-size-lgi-7: 19.7px;
  --font-size-61xl: 80px;
  --font-size-5xl-1: 24.1px;
  --font-size-xs-5: 11.5px;
  --font-size-mini-3: 14.3px;
  --font-size-9xl-7: 28.7px;
  --font-size-xs-3: 11.3px;
  --font-size-2xs-7: 10.7px;
  --font-size-7xl-8: 26.8px;
  --font-size-3xs-1: 9.1px;
  --font-size-4xs-7: 8.7px;
  --font-size-5xs-9: 7.9px;
  --font-size-3xs-6: 9.6px;
  --font-size-smi-8: 12.8px;
  --font-size-3xs-5: 9.5px;
  --font-size-4xl-8: 23.8px;
  --font-size-3xs-3: 9.3px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fefefe;
  --color-gray-200: #292929;
  --color-gray-300: #262626;
  --color-gray-400: #202020;
  --color-gray-500: #1d1d1d;
  --color-gray-600: #141414;
  --color-gray-700: #0c0c0c;
  --color-dimgray-100: #616161;
  --color-dimgray-200: #595959;
  --color-dimgray-300: #535353;
  --color-dimgray-400: #4e4e4e;
  --color-black: #000;
  --color-lightskyblue-100: #88c9fd;
  --color-lightskyblue-200: rgba(136, 201, 253, 0.5);
  --color-steelblue: #5496c9;
  --color-darkgray: #9f9f9f;
  --color-tan: #e2baa4;
  --color-gainsboro: #e6e6e6;
  --color-darkslategray-100: #424242;
  --color-darkslategray-200: #333;
  --color-mistyrose: #f1dfd5;

  /* Gaps */
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-xl: 20px;
  --gap-96xl: 115px;
  --gap-10xl: 29px;
  --gap-38xl: 57px;
  --gap-57xl: 76px;
  --gap-19xl: 38px;
  --gap-xs: 12px;
  --gap-11xl: 30px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-4xs: 9px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-lgi: 19px;
  --gap-mid-2: 17.2px;
  --gap-16xl-3: 35.3px;
  --gap-lg: 18px;
  --gap-mini-3: 14.3px;
  --gap-7xs-7: 5.7px;
  --gap-mini: 15px;
  --gap-2xl-3: 21.3px;
  --gap-3xs: 10px;
  --gap-2xl: 21px;
  --gap-13xl-1: 32.1px;
  --gap-8xl-2: 27.2px;
  --gap-xl-5: 20.5px;
  --gap-3xl-6: 22.6px;
  --gap-8xl-5: 27.5px;
  --gap-3xs-8: 9.8px;
  --gap-2xl-6: 21.6px;
  --gap-102xl: 121px;
  --gap-41xl: 60px;
  --gap-9xs: 4px;
  --gap-7xs: 6px;
  --gap-16xl-5: 35.5px;
  --gap-86xl: 105px;
  --gap-2xs: 11px;
  --gap-6xs: 7px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-69xl: 88px;
  --gap-sm: 14px;
  --gap-9xl-8: 28.8px;
  --gap-xs-7: 11.7px;
  --gap-8xs-7: 4.7px;
  --gap-mid-9: 17.9px;
  --gap-9xl: 28px;
  --gap-base-8: 15.8px;
  --gap-smi-7: 12.7px;
  --gap-59xl: 78px;
  --gap-mini-8: 14.8px;
  --gap-xl-7: 20.7px;
  --gap-mini-7: 14.7px;
  --gap-6xs-3: 6.3px;
  --gap-4xl: 23px;
  --gap-lg-4: 18.4px;
  --gap-xl-4: 20.4px;
  --gap-5xs: 8px;
  --gap-mid-6: 17.6px;
  --gap-3xs-3: 9.3px;
  --gap-9xs-4: 3.4px;
  --gap-7xs-8: 5.8px;

  /* Paddings */
  --padding-53xl: 72px;
  --padding-17xl: 36px;
  --padding-6xs: 7px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-xl-5: 20.5px;
  --padding-11xs: 2px;
  --padding-xl: 20px;
  --padding-35xl: 54px;
  --padding-lgi-5: 19.5px;
  --padding-5xl-5: 24.5px;
  --padding-10xs: 3px;
  --padding-3xl: 22px;
  --padding-21xl-2: 40.2px;
  --padding-59xl: 78px;
  --padding-7xl: 26px;
  --padding-20xl: 39px;
  --padding-6xl-2: 25.2px;
  --padding-9xl: 28px;
  --padding-9xl-1: 28.1px;
  --padding-9xl-2: 28.2px;
  --padding-43xl: 62px;
  --padding-12xl: 31px;
  --padding-11xl: 30px;
  --padding-8xs: 5px;
  --padding-62xl: 81px;
  --padding-34xl: 53px;
  --padding-74xl-5: 93.5px;
  --padding-32xl: 51px;
  --padding-30xl: 49px;
  --padding-65xl: 84px;
  --padding-smi: 13px;
  --padding-6xl: 25px;
  --padding-13xl: 32px;
  --padding-2xl: 21px;
  --padding-5xs: 8px;
  --padding-mini: 15px;
  --padding-32xl-5: 51.5px;
  --padding-lg: 18px;
  --padding-58xl: 77px;
  --padding-19xl: 38px;
  --padding-mini-3: 14.3px;
  --padding-mid: 17px;
  --padding-10xl: 29px;
  --padding-21xl: 40px;
  --padding-sm: 14px;
  --padding-10xs-5: 2.5px;
  --padding-5xl: 24px;
  --padding-72xl: 91px;
  --padding-26xl: 45px;
  --padding-lgi: 19px;
  --padding-16xl: 35px;
  --padding-2xl-5: 21.5px;
  --padding-4xl: 23px;
  --padding-mini-4: 14.4px;
  --padding-lg-1: 18.1px;
  --padding-7xl-4: 26.4px;
  --padding-7xl-5: 26.5px;
  --padding-lgi-7: 19.7px;
  --padding-lgi-8: 19.8px;
  --padding-12xs-1: 0.1px;
  --padding-6xl-9: 25.9px;
  --padding-base: 16px;
  --padding-46xl-9: 65.9px;
  --padding-13xl-5: 32.5px;
  --padding-3xl-5: 22.5px;
  --padding-7xs: 6px;
  --padding-2xs-2: 10.2px;
  --padding-base-5: 15.5px;
  --padding-mid-4: 17.4px;
  --padding-3xl-2: 22.2px;
  --padding-lg-8: 18.8px;
  --padding-4xs: 9px;
  --padding-2xs-8: 10.8px;
  --padding-10xs-6: 2.6px;
  --padding-12xl-8: 31.8px;
  --padding-xs-5: 11.5px;
  --padding-xs-4: 11.4px;
  --padding-14xl-2: 33.2px;
  --padding-lg-2: 18.2px;
  --padding-26xl-1: 45.1px;
  --padding-base-3: 16.3px;
  --padding-11xl-5: 30.5px;
  --padding-8xs-6: 4.6px;
  --padding-11xs-4: 1.4px;
  --padding-xs-3: 11.3px;
  --padding-xs-1: 11.1px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-xs-5: 11.5px;
  --br-433xl-4: 452.4px;
  --br-12xl-9: 31.9px;
  --br-19xl-6: 38.6px;
  --br-13xl-1: 32.1px;
  --br-xs-8: 11.8px;
  --br-31xl: 50px;
  --br-7xs: 6px;
  --br-3xs-4: 9.4px;
  --br-4xs-5: 8.5px;
  --br-4xs-4: 8.4px;
  --br-296xl-5: 315.5px;
  --br-5xs-6: 7.6px;
  --br-xl-3: 20.3px;
  --br-5xl-6: 24.6px;
  --br-xl-4: 20.4px;
  --br-268xl-9: 287.9px;
  --br-3xs-6: 9.6px;
  --br-11xl: 30px;
}
